{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/megacss1.css' %}">
   <title>Philippines</title>
</head>

{% block content %}
<body>
   <div class="first__place">
      <div class="nav">
         <header>
            <a href="/main" class="Link Main">Main page</a>
            <a href="/main/maldivies" class="Link Zanz">Maldivies</a>
            <a href="/main/zanzibar" class="Link Phil">Zanzibar</a>
            <a href="/main/bali" class="Link Bali">Bali</a>
            <a href="/main/borabora" class="Link Bora">Bora-Bora</a>
            <a href="/main/tasmania" class="Link Tas">Tasmania</a>
         </header>
      </div>

      <div class="container">
         <div class="left">
            <img src="{% static 'images/Phil.jpg' %}" class="image">
         </div>
         <div class="right">
            <h1>Philippines</h1>
            <p class="information">The Philippines, officially the Republic of the Philippines is an archipelagic country in Southeast Asia.
               It is situated in the western Pacific Ocean, and consists of about 7,640 islands, that are broadly
               categorized under three main geographical divisions from north to south: Luzon, Visayas, and Mindanao.
               The Philippines is bounded by the South China Sea to the west, the Philippine Sea to the east, and the
               Celebes Sea to the southwest, and shares maritime borders with Taiwan to the north, Japan to the
               northeast, Palau to the east and southeast, Indonesia to the south, Malaysia and Brunei to the southwest,
               Vietnam to the west, and China to the northwest. The Philippines covers an area of 300,000 km2 (120,000
               sq mi) and, as of 2020, had a population of around 109 million people, making it the world's twelfth-most
               populous country. The Philippines is a multinational state, with diverse ethnicities and cultures
               throughout its islands. Manila is the nation's capital, while the largest city is Quezon City, both lying
               within the urban area of Metro Manila.</p>
            <button class="buy">Buy</button>
         </div>
      </div>
      <form method="POST" action="." class="form">
         {% csrf_token %}

         <img src="{% static 'images/user.png' %}" alt="" class="user-image">
         {% render_field form.body class="text" %}
         <a href="#"><input type="submit" class="send" value="Send"></a>
      </form>
      {% for comment in comments %}
      <div class="comment">
         <img src="{% static 'images/user.png' %}" alt="" class="user-image">
         <div class="info">
            <p class="user-nickname">{{ comment.name | safe }}</p>
            <p class="user-text">{{ comment.body | safe }}</p>
            <p class="published">{{ comment.published|date:"d M h:i" | safe }}</p>
         </div>
      </div>
      {% endfor %}
   </div>
{% endblock %}
</body>

</html>